$headerHeight: 75px;

.game {
  display: grid;
  grid-template-rows: [header] $headerHeight [game-ui-start] 1fr [game-ui-end];
  grid-template-columns: [board-start] 1fr [board-end editor-start] 1fr [editor-end];
  grid-template-areas:
          "header header"
          "board editor";
  height: 100%;

  & * {
    height: 100%;
  }
}

.header {
  grid-area: header;
}

.board {
  grid-area: board;
}

.editor {
  grid-area: editor;
}