$headerHeight: 75px;
$mapWidth: 800px;
$mapHeight: 800px;

.game {
  display: grid;
  grid-template-rows: [header] $headerHeight [game-ui-start] 1fr [game-ui-end];
  grid-template-columns: [board-start] 1fr [board-end editor-start] 1fr [editor-end];
  grid-template-areas:
          "header header"
          "board editor";
  height: 100vh;

  //temporary: set up grid borders
  & > * {
    border: 1px dotted black
  }
}

.header {
  grid-area: header;
}

.board {
  grid-area: board;
  min-width: $mapWidth;
  min-height: $mapHeight;
  display: flex;
  align-items: center;
  justify-content: center;

  @keyframes gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  & > .map {
    width: $mapWidth;
    height: $mapHeight;
    border: 1px solid black
  }
}

.editor {
  grid-area: editor;
}